<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Some facts about me :)</title>

</head>
<body>
<h1>Something about me:</h1>
<p1 th:text="${randomFact}">It should appear here</p1>
<h1></h1>
<button onClick="window.location.reload();">Want to know more!</button>
</body>
</html>